.container-layout {
    display: flex;
    height: 100vh;

    .content-left {
        width: 19vw;
    }

    .content-right {
        background-color: var(--background-color-light);
        width: 81vw;
    }
}

@media(width <=999px) {
    .container-layout {

        .content-left {
            width: 8vw;
            height: 12vh;
        }
    }
}