.container-layout {
    display: flex;
    height: 100vh;
    background-color: var(--background-color-light);

    .content-left {
        width: 19vw;
    }

    .content-right {
        background-color: var(--background-color-light);
        width: 81vw;

        .div-border-cima {
            padding: 1em;
            border-bottom: 1px solid var(--color-border-light);
        }
    }
}

@media(width <=999px) {
    .container-layout {

        .content-left {
            width: 10vw;
            height: 12vh;
        }
    }
}