.container-layout{
    display: flex;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    height: 100vh;
    
    .content-layout{
        background-color: rgb(5, 5, 78);
        padding: 1em;
    }
}

@media(width <=999px) {
    .container-layout{
        flex-direction: column;

        .content-layout{
            position: fixed;
            top: 5em;
        }
    }

    
}