.container-miniBank {
    height: 90vh;
    padding: 1em;

    .content-miniBank {
        display: flex;
        width: 95%;
        justify-content: end;

        .div-coins {
            display: flex;
            align-items: center;

            img {
                width: 20px;
                margin: 5px;
            }

            p {
                color: rgb(255, 166, 0);
            }
        }
    }
}