.container-menu {
    z-index: 1;
    background-color: var(--background-menu-light);
    padding: 1em 1.2em;
    width: 19vw;
    transition: all .3s ease-in-out;
    border-right: 1px solid var(--color-border-light);

    .logo {
        padding: 1em 1em 3em 0;
        display: flex;
        align-items: center;

        img {
            width: 50px;
            margin: 5px;
        }
    }

    .content-menu-division {
        height: 83%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content-menu {
            display: flex;

            ul {
                width: 100%;

                li {
                    list-style: none;

                    a {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        font-size: 13px;
                        text-decoration: none;
                        cursor: pointer;
                        justify-content: start;
                        border-radius: 4px;

                        svg {
                            width: 20px;
                            margin: 10px;
                        }
                    }
                }
            }
        }

        .content-footer-menu {
            width: 100%;

            .div-link {
                a {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    font-size: 13px;
                    text-decoration: none;
                    padding: 1em;
                    cursor: pointer;
                    justify-content: start;
                    border-radius: 4px;
                }
            }

            .div-perfil {
                display: flex;
                align-items: center;
                border-top: 1px solid var(--color-border-light);
                padding-top: 1em;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 5px;
                    border-radius: 999px;
                    border: 1px solid var(--color-border-light);
                }

                span {
                    font-size: 12px;
                }
            }
        }
    }

    .active {
        background-color: var(--active-color-light);
    }
}

@media(width <=1230px) {
    .div-perfil {
        img {
            width: 35px !important;
            height: 35px !important;
        }

        span {
            font-size: 10px !important;
        }
    }
}

@media(width <=999px) {
    .container-menu {
        border-radius: 10px;
        position: fixed;
        left: -37em;
        bottom: 0;
        top: 0;
        width: 60vw;
    }

    .hamb {
        z-index: 999;
        margin: 1em;
        display: flex !important;
        width: 50px;
    }

    .clickHamb {
        left: 0 !important;
    }

    .hambAtivo {
        position: absolute;
        left: 50vw;
        z-index: 1;
        top: .5em;
    }
}

@media(width <=600px) {
    .container-menu {
        position: fixed;
        left: -37em;
        bottom: 0;
        top: 0;
        width: 70vw;
    }
}

// HAMB ----------------------------------

.hamb {
    display: none;
}