/* Estilo para o contêiner do menu */
.menuGame1 {
    position: relative;
    background: linear-gradient(45deg, #87CEFA, #00BFFF);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    height: 72vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #333;
    overflow: hidden;
    /* Para garantir que partículas não saiam do contêiner */
}

/* Animação do gradiente de fundo */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

/* Estilo das partículas */
.particle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    pointer-events: none;
    animation: float 10s linear infinite;
}

/* Animação das partículas */
@keyframes float {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(-100px) scale(0.8);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

/* Estilo para o texto do título */
.menuGame1 h1 {
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    animation: glow 1.5s ease-in-out infinite alternate;
}

/* Animação do brilho do texto */
@keyframes glow {
    from {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}

/* Estilo para o botão */
.menuGame1 button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #ff4500;
    color: white;
    padding: .8em 2em;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 4px #000;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
}

.menuGame1 button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.menuGame1 button:hover::after {
    width: 0;
    height: 0;
}

.menuGame1 button:active {
    background-color: #ff6347;
    box-shadow: 2px 2px 6px #000;
}