.container-todolist {
    display: flex;

    .content-todolist {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 90%;

        form {
            padding: 2em 0;
            text-align: center;

            input {
                padding: 1em 1em;
                border-radius: 6px;
                border: 1px solid var(--color-border-light);
                background-color: var(--background-menu-light);
                margin-left: 5px;
            }

            .input1 {
                width: 45%;
            }

            .input2 {
                width: 20%;
            }

            button {
                width: 10%;
                min-width: 85px;
                margin-left: .5em;
                background-color: var(--background-button);
                color: var(--text-color-button);
                padding: 1em;
                cursor: pointer;
                transition: all .2s ease-in-out;
                border: none;
                box-shadow: 1px 1px 4px #333;
                border-radius: 6px;

                &:hover {
                    background-color: var(--background-button-hover);
                }
            }
        }

        .content-items {
            padding: 1em;
            margin: auto;
            width: 70%;

            .div-title {
                display: flex;
                align-items: center;
                margin-bottom: 2em;

                span {
                    margin-left: 10px;
                }
            }

            ul {
                max-height: 50vh;
                overflow-y: auto;

                li {
                    width: 90%;
                    padding: .2em 1.5em;
                    border-radius: 4px;
                    margin-bottom: 5px;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:nth-child(odd) {
                        background-color: var(--active-color-light);
                    }

                    &:nth-child(even) {
                        background-color: var(--background-menu-light);
                    }

                    button {
                        background-color: transparent;
                        border: none;
                        margin-left: 10px;
                        cursor: pointer;

                        img {
                            width: 30px;
                        }
                    }
                }

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: var(--color-border-light);
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background-color: #747474;
                }
            }
        }
    }
}

@media(width <=600px) {
    .content-todolist {
        form {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input {
                width: 100% !important;
                height: 50px;
                font-size: 15px;
            }

            .input2 {
                margin-top: 10px;
            }

            button {
                height: 50px;
                margin-top: 10px;
                width: 100% !important;
            }
        }

        .content-items {
            width: 100% !important;
            padding: 0 !important;

            ul {
                max-height: 35vh !important;

                li {
                    width: 100% !important;
                }
            }
        }
    }
}