.container-todolist {
    display: flex;

    .content-todolist {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 90%;

        form {
            padding: 2em 0;
            text-align: center;

            input {
                padding: 1em 1em;
                border-radius: 6px;
                border: 1px solid var(--color-border-light);
                background-color: var(--background-menu-light);
                margin-left: 5px;
            }

            .input1 {
                width: 45%;
            }

            .input2 {
                width: 20%;
            }

            button {
                width: 10%;
                min-width: 85px;
                margin-left: .5em;
                background-color: var(--background-button);
                color: var(--text-color-button);
                padding: 1em;
                cursor: pointer;
                transition: all .2s ease-in-out;
                border: none;
                box-shadow: 1px 1px 4px #333;
                border-radius: 6px;

                &:hover {
                    background-color: var(--background-button-hover);
                }
            }
        }
    }
}

@media(width <=600px) {
    .content-todolist {
        form {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input {
                width: 80% !important;
            }

            .input2 {
                margin-top: 10px;
            }

            button {
                margin-top: 10px;
                width: 80% !important;
            }
        }
    }
}