@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --text-color-light: #4d4d4d;
    --active-color-light: #d7d9e58a;
    --color-border-light: #cacaca;
    --background-color-light: #ffff;
    --background-menu-light: #eeeff3;

<<<<<<< Updated upstream
    --text-color-dark: #b1b1b3;
    --active-color-dark: #272938;
    --color-border-dark: #2c2c3b;
    --background-dark: #191a23;

    --background-button: #505bb6;
    --background-button-hover: #505ab694;
=======
    --text-color-dark: #cfcfcf;
    --active-color-dark: #2f3034;
    --color-border-dark: #353639;
    --background-dark: #202125;
>>>>>>> Stashed changes
}

.dark-mode {
    --text-color-light: var( --text-color-dark);
    --active-color-light: var(--active-color-dark);
    --color-border-light: var(--color-border-dark);
    --background-color-light: var(--background-dark);
    --background-menu-light: var(--background-dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

body{
    background-color: var(--background-color);
}