.cardNomeAlterado {
    top: 1em;
    right: 1em;
    font-size: 14px;
    position: absolute;
    background-color: rgb(33, 146, 33);
    padding: 1.5em;
    border-radius: 8px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.cardNomeAlterado.visible {
    opacity: 1;
}