.container-settings {
    display: flex;

    .content-settings {
        padding: 2.5em 4em;
        display: flex;
        width: 20vw;

        ul {
            list-style: none;

            li {
                margin-bottom: 1.5em;
                width: 15vw;

                a {
                    padding: .8em 8em .8em 2em;
                    border-radius: 4px;
                    font-size: 13px;
                    font-weight: 600;
                    text-decoration: none;
                    color: var(--text-color-light);
                }

                .active {
                    background-color: var(--active-color-light);
                    box-shadow: 1px 1px 1px rgba(59, 59, 59, 0.363);
                }
            }
        }
    }

    .div-content {
        width: 60vw;
        // border-left: 1px solid var( --color-border-light);
    }
}