.container-settings {
    padding: 3em;
    display: flex;

    .content-settings {
        width: 16vw;

        li {
            list-style: none;
            margin-bottom: .8em;

            a {
                border-radius: 4px;
                font-size: 13px;
                padding: .8em 1.8em;
                display: flex;
                width: 85%;
                text-decoration: none;
            }
        }

        .active {
            background-color: var(--active-color-light);
        }
    }

    .div-content {
        padding: 0 1em;
        width: 100%;
    }
}

@media(width <=999px) {
    .container-settings {
        padding: 2em;

        .content-settings {
            width: 20vw;

            li {
                a {
                    width: 90%;
                    padding: .6em 1em;
                }
            }
        }
    }
}

@media(width <=600px) {
    .container-settings {
        padding: 1em;

        .content-settings {
            width: 25vw;

            li {
                a {
                    width: 100%;
                    padding: .6em 1em;
                }
            }
        }
    }
}
